<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pay</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>icon_n</key>
			<string>e_catering</string>
			<key>icon_l</key>
			<string>e_catering_l</string>
			<key>icon_s</key>
			<string>e_catering_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>餐饮</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>icon_n</key>
			<string>e_snack</string>
			<key>icon_l</key>
			<string>e_snack_l</string>
			<key>icon_s</key>
			<string>e_snack_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>零食</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>icon_n</key>
			<string>e_shopping</string>
			<key>icon_l</key>
			<string>e_shopping_l</string>
			<key>icon_s</key>
			<string>e_shopping_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>购物</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>icon_n</key>
			<string>e_traffic</string>
			<key>icon_l</key>
			<string>e_traffic_l</string>
			<key>icon_s</key>
			<string>e_traffic_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>交通</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>icon_n</key>
			<string>e_sport</string>
			<key>icon_l</key>
			<string>e_sport_l</string>
			<key>icon_s</key>
			<string>e_sport_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>运动</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>icon_n</key>
			<string>e_car</string>
			<key>icon_l</key>
			<string>e_car_l</string>
			<key>icon_s</key>
			<string>e_car_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>汽车</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>icon_n</key>
			<string>e_medical</string>
			<key>icon_l</key>
			<string>e_medical_l</string>
			<key>icon_s</key>
			<string>e_medical_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>医疗</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>icon_n</key>
			<string>e_pet</string>
			<key>icon_l</key>
			<string>e_pet_l</string>
			<key>icon_s</key>
			<string>e_pet_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>宠物</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>icon_n</key>
			<string>e_books</string>
			<key>icon_l</key>
			<string>e_books_l</string>
			<key>icon_s</key>
			<string>e_books_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>书籍</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>icon_n</key>
			<string>e_study</string>
			<key>icon_l</key>
			<string>e_study_l</string>
			<key>icon_s</key>
			<string>e_study_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>学习</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>icon_n</key>
			<string>e_gift</string>
			<key>icon_l</key>
			<string>e_gift_l</string>
			<key>icon_s</key>
			<string>e_gift_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>礼物</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>icon_n</key>
			<string>e_office</string>
			<key>icon_l</key>
			<string>e_office_l</string>
			<key>icon_s</key>
			<string>e_office_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>办公</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>icon_n</key>
			<string>e_repair</string>
			<key>icon_l</key>
			<string>e_repair_l</string>
			<key>icon_s</key>
			<string>e_repair_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>维修</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>icon_n</key>
			<string>e_donate</string>
			<key>icon_l</key>
			<string>e_donate_l</string>
			<key>icon_s</key>
			<string>e_donate_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>捐赠</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>icon_n</key>
			<string>e_lottery</string>
			<key>icon_l</key>
			<string>e_lottery_l</string>
			<key>icon_s</key>
			<string>e_lottery_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>彩票</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>icon_n</key>
			<string>e_express</string>
			<key>icon_l</key>
			<string>e_express_l</string>
			<key>icon_s</key>
			<string>e_express_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>快递</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>icon_n</key>
			<string>e_social</string>
			<key>icon_l</key>
			<string>e_social_l</string>
			<key>icon_s</key>
			<string>e_social_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>社交</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>icon_n</key>
			<string>e_beauty</string>
			<key>icon_l</key>
			<string>e_beauty_l</string>
			<key>icon_s</key>
			<string>e_beauty_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>美容</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>icon_n</key>
			<string>e_fruite</string>
			<key>icon_l</key>
			<string>e_fruite_l</string>
			<key>icon_s</key>
			<string>e_fruite_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>水果</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>icon_n</key>
			<string>e_travel</string>
			<key>icon_l</key>
			<string>e_travel_l</string>
			<key>icon_s</key>
			<string>e_travel_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>旅行</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>icon_n</key>
			<string>e_entertainmente</string>
			<key>icon_l</key>
			<string>e_entertainmente_l</string>
			<key>icon_s</key>
			<string>e_entertainmente_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>娱乐</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>icon_n</key>
			<string>e_money</string>
			<key>icon_l</key>
			<string>e_money_l</string>
			<key>icon_s</key>
			<string>e_money_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>礼金</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>icon_n</key>
			<string>e_vegetable</string>
			<key>icon_l</key>
			<string>e_vegetable_l</string>
			<key>icon_s</key>
			<string>e_vegetable_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>蔬菜</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>icon_n</key>
			<string>e_elder</string>
			<key>icon_l</key>
			<string>e_elder_l</string>
			<key>icon_s</key>
			<string>e_elder_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>长辈</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>icon_n</key>
			<string>e_house</string>
			<key>icon_l</key>
			<string>e_house_l</string>
			<key>icon_s</key>
			<string>e_house_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>住房</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>icon_n</key>
			<string>e_child</string>
			<key>icon_l</key>
			<string>e_child_l</string>
			<key>icon_s</key>
			<string>e_child_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>孩子</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>icon_n</key>
			<string>e_communicate</string>
			<key>icon_l</key>
			<string>e_communicate_l</string>
			<key>icon_s</key>
			<string>e_communicate_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>通讯</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>28</integer>
			<key>icon_n</key>
			<string>e_dress</string>
			<key>icon_l</key>
			<string>e_dress_l</string>
			<key>icon_s</key>
			<string>e_dress_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>服饰</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>29</integer>
			<key>icon_n</key>
			<string>e_commodity</string>
			<key>icon_l</key>
			<string>e_commodity_l</string>
			<key>icon_s</key>
			<string>e_commodity_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>日用</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>30</integer>
			<key>icon_n</key>
			<string>e_smoke</string>
			<key>icon_l</key>
			<string>e_smoke_l</string>
			<key>icon_s</key>
			<string>e_smoke_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>烟酒</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>icon_n</key>
			<string>e_friend</string>
			<key>icon_l</key>
			<string>e_friend_l</string>
			<key>icon_s</key>
			<string>e_friend_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>亲友</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>icon_n</key>
			<string>e_digital</string>
			<key>icon_l</key>
			<string>e_digital_l</string>
			<key>icon_s</key>
			<string>e_digital_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>数码</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>icon_n</key>
			<string>e_home</string>
			<key>icon_l</key>
			<string>e_home_l</string>
			<key>icon_s</key>
			<string>e_home_s</string>
			<key>is_income</key>
			<integer>0</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>居家</string>
		</dict>
	</array>
	<key>income</key>
	<array>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>icon_n</key>
			<string>i_wage</string>
			<key>icon_l</key>
			<string>i_wage_l</string>
			<key>icon_s</key>
			<string>i_wage_s</string>
			<key>is_income</key>
			<integer>1</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>工资</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>35</integer>
			<key>icon_n</key>
			<string>i_parttimework</string>
			<key>icon_l</key>
			<string>i_parttimework_l</string>
			<key>icon_s</key>
			<string>i_parttimework_s</string>
			<key>is_income</key>
			<integer>1</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>兼职</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>36</integer>
			<key>icon_n</key>
			<string>i_finance</string>
			<key>icon_l</key>
			<string>i_finance_l</string>
			<key>icon_s</key>
			<string>i_finance_s</string>
			<key>is_income</key>
			<integer>1</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>理财</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>37</integer>
			<key>icon_n</key>
			<string>i_money</string>
			<key>icon_l</key>
			<string>i_money_l</string>
			<key>icon_s</key>
			<string>i_money_s</string>
			<key>is_income</key>
			<integer>1</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>礼金</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>38</integer>
			<key>icon_n</key>
			<string>i_parttimework</string>
			<key>icon_l</key>
			<string>i_parttimework_l</string>
			<key>icon_s</key>
			<string>i_parttimework_s</string>
			<key>is_income</key>
			<integer>1</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>兼职</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>39</integer>
			<key>icon_n</key>
			<string>i_other</string>
			<key>icon_l</key>
			<string>i_other_l</string>
			<key>icon_s</key>
			<string>i_other_s</string>
			<key>is_income</key>
			<integer>1</integer>
			<key>is_system</key>
			<integer>1</integer>
			<key>name</key>
			<string>其它</string>
		</dict>
	</array>
</dict>
</plist>
